<span>
  <a href="https://github.com/brayn003" target="_blank">
    <img src="/resume/assets/img/github.svg" style="height: 20px; width: 20px; margin-right: 5px;" />
  </a>
  <a href="https://stackoverflow.com/users/6919202/rudraprasad-das" target="_blank">
    <img src="/resume/assets/img/stackoverflow.svg" style="height: 20px; width: 20px; margin-right: 5px;" />
  </a>
  <a href="https://www.linkedin.com/in/rudraprasaddas/" target="_blank">
    <img src="/resume/assets/img/linkedin.svg" style="height: 20px; width: 20px; margin-right: 5px;" />
  </a>
</span>